page-home {

}
*{
    padding: 0;
    margin: 0;
}
.banner{
    height: 200px;
}
.banner-bg{
    height:200px;
    background-image: url(../assets/imgs/banner.jpg);
    background-size: contain;
}
.logo{
    height: 35px;
    width: 100px;
}
.content-head{
    height:30px;
    
    line-height: 30px;
}
.list-ios:not([inset]) + .list-ios:not([inset]) ion-list-header{
    margin-top: -30px;
}
.bord{
    height: 10px;
    background-color:gainsboro;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    height: 94px;
    border:0.55px solid #c8c7cc;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.list-img{
    width: 30px;
    height:30px;
}
// .bottom{
//     display: flex;
// }
.bottom-item1{
    float: left;
    width: 110px;
   
}
.bottom-item2{
    float: left;
    width: 50px;
    margin-left: 10px;
}
.bottom-item2 .money{
  font-size: 20px;
  color: red;
}
.right{
    font-size: 40px;
    color: gray;
    font-weight: lighter;
}
.tabs-ios .tab-button[aria-selected=true] {
    color:#fedb47;
}
.ion-ios-home:before {
    color:#fedb47;
}
.bottom-item1 p span{
    color: black;
}
