page-my {

}
.info{
    height: 200px;
 
    text-align: center;
    padding-top: 10px;
    border-bottom: 15px solid rgb(243, 242, 242);
     margin-bottom: 50px;
}
.touxiang{
    width: 80px;
    height: 80px;
    border-radius: 80px;
   
}
.ion-ios-contacts:before {
    content: "\f161";
    color:#fedb47;
}
.ion-ios-arrow-forward:before {
    content: "\f3d1";
    margin-top: 0px;
}
.item1{
  border-bottom: 0.5px solid grey;
}
